## Clustering and MDS Visualization

In [12]:
import pandas as pd
import numpy as np
from gudhi.representations import Landscape

import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt

import pickle
import sys
import networkx as nx
sys.path.append("../apparent/")

In [2]:
df = pd.read_csv("/Users/jeremy.wayland/Desktop/projects/apparent/outputs/networks_data.csv",index_col=0)

In [3]:
df = df[df["year"]==2017]

In [4]:
join="hsanum"

In [5]:
state_data_2017 = pd.read_excel("/Users/jeremy.wayland/Downloads/state_mortality_dead6599ffs_2017.xlsx")

In [7]:
hsa_2017 = pd.read_excel("/Users/jeremy.wayland/Desktop/projects/apparent/data/hsa_mortality_dead6599ffs_2017.xlsx",sheet_name=1)

In [9]:
join = df.join(hsa_2017.set_index("HSA #"), on=join)

In [21]:
columns = ['nnodes', 'nedges', 'density', 'degree_assortativity',
       'Year', 'HSA Name', 'Medicare Enrollees',
       'Total Mortality: ASR-adjusted Percent of Deaths among Medicare Enrollees',
       'Non-HMO Mortality: ASR-adjusted Percent of Deaths among Medicare Enrollees without HMO Coverage']

In [23]:
# Melt the dataframe to reshape it for plotting
melted_df = join.melt(value_vars=columns, var_name='Column')

# Create violin plot
plt.figure(figsize=(12, 8))
sns.violinplot(data=melted_df, x='Column', y='value')
plt.xticks(rotation=45, ha='right')
plt.title('Violin Plot of Column Distributions')
plt.xlabel('Column')
plt.ylabel('Value')
plt.tight_layout()
plt.show()

TypeError: Neither the `x` nor `y` variable appears to be numeric.

# Testing Gudhi Landscape Conversion

In [6]:
test_dgm = diagrams[1001]

In [8]:
landscapes = {}
for dim,dgm in enumerate(test_dgm):
    landscapes[dim] = dgm.fit_landscape()

In [9]:
landscapes

{0: array([[0.00272748, 0.00545496, 0.00818244, ..., 0.        , 0.        ,
         0.        ]]),
 1: array([[0.00135727, 0.00271453, 0.0040718 , ..., 0.0040718 , 0.00271453,
         0.00135727]])}

In [14]:
pairs = [(0, 1), (1, 2), (2, 3), (3, 4), (4, 5)]

In [15]:
dgm = PersistenceDiagram(pairs)

In [20]:
dgm.fit_landscape(num_landscapes=1, resolution=5)

array([[0.23570226, 0.47140452, 0.70710678, 0.47140452, 0.23570226]])

In [21]:
dgm.gudhi_conversion(pairs)

array([[[0, 1],
        [1, 2],
        [2, 3],
        [3, 4],
        [4, 5]]])

In [25]:
join.describe()

,hsanum,year,nnodes,nedges,density,degree_assortativity,Year,Medicare Enrollees,Total Mortality: ASR-adjusted Percent of Deaths among Medicare Enrollees,Non-HMO Mortality: ASR-adjusted Percent of Deaths among Medicare Enrollees without HMO Coverage
count,3373.000000,3373.0,3373.000000,3373.000000,3373.000000,3084.000000,3373.0,3373.000000,3373.000000,3373.000000
mean,26294.644827,2017.0,160.050104,3020.277794,0.384735,-0.256330,2017.0,14254.713905,-2789.072229,-3922.165577
std,14803.076708,0.0,442.403598,8806.862733,0.273014,0.222516,0.0,27199.282753,15511.024953,18268.560698
min,1001.000000,2017.0,2.000000,1.000000,0.002833,-1.000000,2017.0,145.000000,-88888.000000,-88888.000000
25%,14112.000000,2017.0,12.000000,29.000000,0.181818,-0.356883,2017.0,2460.000000,3.910000,3.990000
50%,25038.000000,2017.0,36.000000,188.000000,0.316667,-0.279354,2017.0,5820.000000,4.390000,4.520000
75%,38050.000000,2017.0,127.000000,1678.000000,0.509091,-0.181302,2017.0,15088.000000,4.900000,5.070000
max,53026.000000,2017.0,7139.000000,136354.000000,1.000000,1.000000,2017.0,446752.000000,7.840000,8.010000

In [1]:
import pandas as pd
df = pd.read_csv("/Users/jeremy.wayland/Desktop/projects/apparent/data/network_panel_undirected_local_hsa_edges.csv.gz",compression="gzip")

In [2]:
df

          year  hsanum       npi_a       npi_b  a2b  b2a
0         2014    1001  1750540035  1982684999    0    2
1         2014    1001  1245433648  1982684999    7    3
2         2014    1001  1841384724  1982684999   12    5
3         2014    1001  1003029869  1982684999    2    4
4         2014    1001  1902845829  1982684999    6    2
...        ...     ...         ...         ...  ...  ...
39140695  2017   53026  1043415987  1164521977    0  138
39140696  2017   53026  1164521977  1962523126   27   35
39140697  2017   53026  1164521977  1952761264   94  108
39140698  2017   53026  1043415987  1962523126    0   14
39140699  2017   53026  1043415987  1952761264  100   19

[39140700 rows x 6 columns]